@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
@import '~vuetify/dist/vuetify.min.css';

.box-bg {
    background-color: #FFD600;
}

.box-bg-grey {
    background-color: #FAFAFA;
}

.my-text-color {
    color: #FFD600;
}

.my-footer-bg {
    background-color: #212121;
}

.my-padding-zero {
    padding: 0;
}